@page
@model GrooveGallery.Pages.AboutUsModel
@{
}

<div class="row justify-content-md-center">
    <div class="col-8 p-5">

        <h3>Bem-vindo à Groove Gallery!</h3>
        <p>
            Sinta-se em casa na nossa loja de álbuns de música. Desde [ano de fundação], temos o prazer de oferecer a melhor seleção de álbuns em CD e vinil. A nossa jornada começou com a paixão pela música e o compromisso de proporcionar experiências excepcionais aos nossos clientes. Desde então, nossa missão tem sido a mesma: conectar amantes da música com obras-primas sonoras.
        </p>

        <h5>
            A Nossa História
        </h5>
        <p>
            <img class="img-fluid float-end p-3" src="/images/quem-somos.png"
                 style="max-width: 40%" />
            Fundada em [ano de fundação], a Groove Gallery começou como uma pequena loja, com a visão ousada de celebrar a diversidade musical. Com dedicação, curadoria cuidadosa e o compromisso com a qualidade, construímos uma reputação sólida que nos tornou uma referência quando se trata de álbuns excepcionais.
        </p>
        <h5>
            A Nossa Filosofia
        </h5> 
        <p>
            Na Groove Gallery, acreditamos que a música vai além de notas e ritmos. Valorizamos a qualidade, a diversidade e a paixão. Oferecemos uma ampla variedade de álbuns em diferentes gêneros, de clássicos atemporais às últimas novidades. Estamos empenhados em garantir que cada visita à nossa loja seja uma experiência única e memorável.
        </p>
        <h5>
            O Nosso Compromisso
        </h5> 
        <p>
            A nossa paixão pela música não se limita apenas à venda de álbuns. Também estamos comprometidos com causas sociais e culturais. Trabalhamos para promover a diversidade musical e apoiar artistas locais. Acreditamos que, através da música, podemos criar conexões significativas e enriquecer a comunidade.
        </p>
        <h5>
            Explore o Nosso Catálogo
        </h5> 
        <p>
            Dê uma olhada em nosso catálogo diversificado, repleto de álbuns de diferentes estilos e épocas. Desde vinis vintage até lançamentos mais recentes, temos algo para todos os amantes da música. Explore, descubra e encontre a trilha sonora perfeita para a sua vida.
        </p>
        <h5>
            Entre em Contato
        </h5> 
        <p>A sua opinião é importante para nós. Se você tiver alguma dúvida, feedback ou se estiver em busca de algo específico, não hesite em entrar em contato. Estamos aqui para ajudar e compartilhar a paixão pela música.</p>
        <p>Obrigado por escolher a Groove Gallery. Esperamos proporcionar a você uma experiência única e envolvente no mundo da música. Junte-se a nós nesta jornada musical que celebramos há [número de anos] anos.</p>
    </div>
</div>


