@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<!DOCTYPE html>
<html>
<head>
    <title>Início - Groove Gallery</title>
</head>
<body style="background-color: #ced4da;">
    <div class="container mt-5">
        <h1 class="display-4">Bem-vindo a Groove Gallery</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="text-left pr-4">
                    Groove Gallery é o seu destino definitivo para a música.               
                </p>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="my-4">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center">&copy; 2023 - GrooveGallery - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
